@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

header {
  color: white;
  background: rgb(51, 51, 51);
  font-weight: bold;
  padding: 0.5em;
  font-size: 1.5em;
  border-bottom: 5px solid rgb(253, 138, 36);
  text-align: center;
}

main {
  padding: 2em;
  margin: auto;
  width: 65%;
}

section {
  border-bottom: 1px solid #b9b9b9;
  color: #111111;
}

h2 {
  font-size: 3.5em;
  border: 5px;
  margin: 0.5em 0;
  line-height: 1.2em;
}

p {
  text-align: justify;
  font-size: 1.2em;
}

#autor {
  font-size: 0.8em;
  font-weight: bold;
  padding: 1.5em 0 0.6em;
  color: #555555;
}

#data {
  font-size: 0.7em;
  color: #555555;
}

section img {
  width: 1.3em;
}

#facebook {
  padding: 1em 0;
}

#twitter {
  padding: 1em;
}

#whatsapp {
  padding: 1em 0;
}

article {
  width: 75%;
  margin: auto;
  color: #555555;
}

h3 {
  padding: 1.5em 0 0;
  font-size: 1.5em;
  color: #111111;
}

article p {
  padding: 1em 0 0;
}

article img {
  width: 100%;
}

a {
  color: #fd8a24;
  text-decoration: none;
  font-weight: bolder;
}

figure {
  padding: 1.5em 0;
}

figcaption {
  font-size: 0.8em;
  color: #555555;
}

footer {
  background: #333333;
  height: 6em;
}
